#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root hr{
    width: 100dvw;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

#canvas {
    background-color: red;
}